@import '../../index.scss';

.card-container {
	@include flexCenter(space-between, center, row);
	flex-wrap: wrap;
	flex: 1;
	height: calc(100vh - 80px);
	overflow-y: scroll;
	margin: 0 20px;
	&::-webkit-scrollbar {
		display: none;
	}
}
