@import '../../index.scss';

.sidebar {
	flex: 0.2;
	height: calc(100vh - 80px);
	overflow-y: scroll;
	&::-webkit-scrollbar {
		display: none;
	}
	@include flexCenter(start, start, column);
	text-transform: capitalize;
}
