@import '../../../index.scss';

.sidebar-section {
	background-color: white;
	margin-bottom: 18px;
	width: 100%;
	.heading {
		padding: 8px;
		text-align: center;
		background-color: $category;
		font-size: 15px;
	}
	.option {
		margin: 6px;
		padding: 5px 6px;
		font-size: 12px;
		cursor: pointer;
		border-radius: 5px;
		line-height: 18px;
		@include flexCenter(space-between, center, row);
		p {
			width: 85%;
		}
	}
}
